@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #000;
}
.main-tag {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  color: transparent;
  background: linear-gradient(to right, #00f7ff, #0072ff);
  background-clip: text;
  -webkit-background-clip: text;
}

/* From Uiverse.io by gharsh11032000 */ 
.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  width: fit-content;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 20px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: rgb(1, 81, 255);
  box-shadow: 0 0 0 2px rgb(47, 95, 255);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: rgb(47, 50, 255);
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: rgb(47, 50, 255);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #000000;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #000000;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px rgb(47, 95, 255);
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}
